//-h1= title
//-p Welcome to #{title}

.container
  .row
    .span4.offset4(style="text-align: center;")
      div(style="margin-bottom: 28px; text-align: center;")
        img(src="/images/logo.png", border="0", alt="Favoritize Logo")
  .row
    .span4.offset4(style="text-align: center;")
      #login
        .wrapper

          //

            - if ('undefined' !== typeof errors && errors.length)
              ul#errors
                - each error in errors
                  li.error= error

          //
            .alert.alert-error
              //-a.close(data-dismiss="alert") x
              <strong>Oh snap!</strong> Change a few things up and try submitting again.
          //
            .alert.alert-info
              //-a.close(data-dismiss="alert") x
              <strong>Heads up!</strong> This alert needs your attention, but it's not super important.

          .alert.alert-warning
            a(href="/password/reset") Forgot your password?
            &nbsp;·&nbsp;Need an account?
            a(href="/signup") Sign up

          form(action="/login", method='POST', style="padding-left: 10px;")
            //-label(for="email") Email
            input#email(name=everyauth.password.loginFormFieldName, type="text", placeholder="Email", style="margin-left: -10px;", value="super_safe")
            //-label(for="password") Password
            input#password(name=everyauth.password.passwordFormFieldName, type="password", placeholder="Password", style="margin-left: -10px;", value="123456")
            // redir
            input(type="hidden", name="redir_to", value=redir_to);
            .submit
              //
                .progress.progress-striped.active
                  .bar(style="width: 100%")
                button.btn.btn-primary(type="submit", onclick="$(this).hide();") Sign In
              button.btn.btn-primary(type="submit", onclick="$(this).hide();") Sign In



  .row
    .span4.offset4(style="text-align: center;margin-top: 18px;")
