
- var errorClass = "", errorMessage = "";
- if ('undefined' !== typeof errors && errors.length)
  - errorClass = "error";
  - errorMessage = errors[0].message;

.container

  //
    .row
      .span4.offset4(style="text-align: center;")
        div(style="margin-bottom: 28px; text-align: center;")
          img(src="/images/logo.png", border="0", alt="Favoritize Logo")

  .row
    .span6.offset3
      #login
        .wrapper

          #logo
            img(src="/images/logo.png", border="0", alt="Favoritize Logo")

          - if ('' !== errorClass)
            .alert.alert-error
              //-a.close(data-dismiss="alert") x
              strong Oh snap!
              |  Error found while trying to authenticate user.

          form(action="/login", method='POST')
            fieldset
              div(style="margin-left: 10px;")
                .control-group(class=errorClass)
                  .controls
                    input.input-xlarge#email(name=everyauth.password.loginFormFieldName, type="text", placeholder="Email", style="margin-left: -10px;", value="root")
                .control-group(class=errorClass)
                  .controls
                    input.input-xlarge#password(name=everyauth.password.passwordFormFieldName, type="password", placeholder="Password", style="margin-left: -10px;", value="secret")
                // redir
                input(type="hidden", name="redir_to", value=redir_to);
            .submit
              button.btn.btn-primary.btn-large(type="submit", onclick="$(this).hide();") Sign In

          div
            a(href="/password/reset") Forgot your password?
            |  · Need an account?
            a(href="/signup") Sign up
