
- var errorClass = "", errorMessage = "";
- if ('undefined' !== typeof errors && errors.length)
  - errorClass = "error";
  - errorMessage = errors[0];

#signup
  .container
    .row
      .span4.offset4
        #box
          #header_ct
            #logo
          .alert.alert-info
            strong Heads up!&nbsp;
            | We are in development mode, registration module does not work as expected.
          - if ('' !== errorClass)
            .alert.alert-error
              //-a.close(data-dismiss="alert") x
              strong Oh snap!&nbsp;
              | #{errorMessage}
          form(action="/signup", method='POST')
            fieldset
              div
                .control-group(class=errorClass)
                  .controls
                    input.input-xlarge#invitation_code(name="invitation_code", type="text", placeholder="Invitation Code", value=invitationCodeFormFieldValue)
                .control-group(class=errorClass)
                  .controls
                    input.input-xlarge#email(name=everyauth.password.loginFormFieldName, type="email", placeholder="Email")
                .control-group(class=errorClass)
                  .controls
                    input.input-xlarge#password(name=everyauth.password.passwordFormFieldName, type="password", placeholder="Password")
                .control-group(class=errorClass)
                  .controls
                    input.input-xlarge#password(name="password_confirm", type="password", placeholder="Confirm Password")
            .submit
              button.btn.btn-primary(type="submit", onclick="$(this).hide();") Register
          div
            | Already have an account?&nbsp;
            a(href="/login") Log in
